.page-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    height:100%;
    
}
.nav{
    width:100%;
}

.footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100px;
    width:100%;
    position:fixed;
    bottom:0px;
    left:0px;
    background-color: black;

    
}
.scroll{
    width: 86vw;
    height:calc(100vh - 160px);
    margin: 0px 6vw 0px 8vw;
    // backgroundColor: "black"
}

.links-footer{
        font-family: GOT-font;
        color:white;
        margin:0px;
        font-size: 24px;
        z-index:99;
}



.gallery-father{
    width:90%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.galley-element{
    width:15%;
    min-width: 200px;
    max-height: 300px;
    height:auto;
    margin:40px 0.833333% 40px 0.833333%;
    overflow:hidden;
}

.img-container{
    position:relative;
    height:100%;
    width:100%;
    left:0px;
    top:0px;
}
.name{
    position:absolute;
    margin:0px;
    height:20%;
    width:100%;
    left:0px;
    top:80%;
    display:none;
    justify-content: center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: GOT-font;
}

.img-container:hover .name{
    display:flex;
}
.imagenes{
    width:100%;
    height:100%;

    
}


.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
}

.simplebar-track{
    background-color:#443d3d;
}

.simplebar-track.simplebar-vertical{
    width: 4px !important;
}

.simplebar-scrollbar{
    border-radius: 2px;
    height: 90px !important;
    min-height: 90px !important;
    background-color: white;
}

.simplebar-scrollbar:before {
    visibility: hidden;
}
