.galery {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cardC {
    width: calc(16.66% - 48px);
    height: calc(50% - 60px);
    margin: 0px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    font-family: GOT-font;
    font-size: 15px;
    text-align: center;

    & img {
        width: 95%;
        margin-bottom: 24px;
    }
}

header {
    height: 100px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-evenly;

    button:hover {
        cursor: pointer
    }

    img {
        width:40px;
        margin: 0px 8px 0px 8px;
    }

    input {
        margin: 0px 0px 0px 40px;
        width: 600px;
        height: 30px;
        background-color: black;
        border-top: 0px solid black;
        border-right: 0px solid black;
    }

    input:focus {
        outline: none;
    }
    
    div{
        width:50%;
        display:flex;
        justify-content: center;
    }
}

.iconos {
    margin-left: 35%;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
}

.simplebar-track{
    background-color:#443d3d;
}

.simplebar-track.simplebar-vertical{
    width: 4px !important;
}

.simplebar-scrollbar{
    border-radius: 2px;
    height: 90px !important;
    min-height: 90px !important;
    background-color: white;
}

.simplebar-scrollbar:before {
    visibility: hidden;
}
    




