
 .todo p{

  font-family: GOT-font;
  font-size: 900%;
  margin: 0px;
  padding-top: 14%;
  }

.todo{
    background-image: url(https://cdn.zeplin.io/5e1c73baff24c3be01ba9cca/assets/6065c636-48ca-4142-8b36-8fd60a70402b.png);
    background-position: center;
   height: 100vh;
   text-align: center;

}