
 .todo p{
    width: 1367px;
    height: 390px;
    font-family: GOT-font;
    font-size: 176px;
    margin-left: 13%;
    position:fixed;
    padding-bottom: 300px;}

.todo{
    background-image: url(https://cdn.zeplin.io/5e1c73baff24c3be01ba9cca/assets/6065c636-48ca-4142-8b36-8fd60a70402b.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;

}

  .abajo{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100px;
    width:100%;
    position:fixed;
    bottom:0px;
    left:0px;
  }