.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 122px;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    

    img{
        width: 80px;
        height: 80px;
        margin: 19px 133px 0;
        border-radius: 100px;
        top:0px;
        margin-bottom: 200px;
    }
    h5{
            font-family: GOT-font;
            font-size: 27px;}

    p{
     font-family: GOT-font;
      font-size: 15px;}
}


.izquierda{   
    margin-right: 50%;
    width: 50%;
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.derecha{
    width: 50%;
    margin-left: 50%;
    display: flex;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.Rectangle-4{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 0px
      
}
.Ellipse-2 .bb{
    transform: rotate(180deg);
    background-color: transparent!important;
    
}


.Ellipse-2  .cc{
    background-color: transparent!important;
    z-index: 99;
}


.Ellipse-2{
    background-color: aliceblue;
    height: 100px;
    width: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
      img{
        width: 30px;
        margin-top: 80px;
 

      }
    
}
.Ellipse-1 {
    width: 59px;
    height: 59px;
    margin:0px;
    background:none;
    color: white;
    border-radius: 100px;
    border:2px solid white;
   
    img{
        width: 100%;
        background-color: transparent!important;
    }}

.CRONOLOGIA {
    display: inline-block;
    flex-direction: column;
    width: 50%;
}


  .head{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:100px;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    background-color: black;

    
}

.links-home{
        font-family: GOT-font;
        color:white;
        margin:0px;
        font-size: 24px;
        z-index:99;
        margin-right: 10%;
}