.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 10px;
}

.raya{
    height:420px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: transparent !important;
    align-items: center;
    height: 135px;
    text-align: center;
    

    img{
        width: 80px;
        height: 80px;
        margin: 19px 133px 0;
        border-radius: 100px;
        margin-bottom: 200px;
    }
    h5{
    font-family: GOT-font;
    font-size: 19px;}

    p{
     font-family: GOT-font;
      font-size: 25px;}
}


.izquierda{   
    margin-right: 50%;
    border-top: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.derecha{
 
    margin-left: 50%;
    display: flex;
    border-top: 2px solid rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.Rectangle-4{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100px;
    width: 5px;
   
}

.rayota{
    background-color: rgb(255, 255, 255);
    height: 420px;
    width: 5px;
    position: fixed; 
    margin-left: 24.8%;

}

.Ellipse-2  .cc{
    background-color: transparent!important;
    z-index: 99;
}

.Ellipse-2 .bb{
    transform: rotate(180deg);
    background-color: transparent!important;
    z-index: 99
    
}
.Ellipse-2{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    // bottom:0px;
      img{
        width: 35px;
        margin-top: 58px;
      
      }
}

.Ellipse-1 {
    width: 59px;
    height: 59px;
  background-color: black;
    color: white;
    border-radius: 100px;
    border:2px solid white;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  box-shadow: 0 9px  #323030;;

  img{
  height: 35px;
  background-color: transparent !important;
    width: 100%;
}}

  .Ellipse-1:hover {
    background-color: #323030;
}

  .Ellipse-1:active {
  background-color: #666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
   


.CRONOLOGIA {
    display: inline-block;
    flex-direction: column;
    width: 50%;
}


.head{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:100px;
    width:100%;
    top:0px; 
}

.iconos {
    width: auto;
    margin-right: 7%;
}
