.casaD {
    width: 86vw;
    height: 70vh;
    margin: 12vh 6vw 0px 8vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.galeryD {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    & img {
        width: 267px;
        height: 320px;
        margin: 0px 0px 30px 0px;
    }

    & h1 {
        margin: 0px 0px 40px 0px;
    }
}

.details {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-ts {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    &-title {
        width: calc(16.66% - 54px);
        margin: 0px 27px 30px 27px;
        text-align: center;
    }

    &-cn {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    &-data {
        width: calc(16.66% - 54px);
        margin: 0px 27px 30px 27px;
        text-align: center;
    }
}

