
.todo {
    background-image: url(https://cdn.zeplin.io/5e1c73baff24c3be01ba9cca/assets/6065c636-48ca-4142-8b36-8fd60a70402b.png);
    background-position: center;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;

    p {
        font-family: GOT-font;
        margin: 0px;
        padding-top: 20%;
        font-size: 150px;
        background-color: transparent;
    }
}
 
.headd {
    display:flex;
    top:0px; 
    justify-content: flex-end;
    align-items: center;
    height:100px;
    width:100%;
    top:0px; 
    position: fixed;
 
    button{
        border: none;
        margin-left: 8px; 
    }

    img{
        height:40px;
    }
}

.idiomas {
    margin-right: 10%;
}