.page-full{
    height:100vh;
    footer{
        display:none;

    }
}



.contenedor{
    height: fit-content;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.nombre{
    font-family: GOT-font;
    font-size: 22px;
    color: white;
    width:100%;
    text-align: center;
    margin:20px;
}

.img-char{
    height:200px;
}

.caracteristicas{
    display:flex;
    width:100%;
    justify-content: center;
    margin-top:40px;



    .columna{
        width:10%;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        height: 200px;
        margin: 0px 20px 0px 20px;


        h6{
            font-family: GOT-font;
            font-size: 14px;
            color: white;
            margin: 40px 0px 40px 0px;
            height:min-content;
            width: 100%;
            text-align: center;
        }

        li{
            width:100%;
            line-height: normal;
            
        }

        .lista{
            overflow-y:hidden;
            height: inherit;
            width:100%;
        }

        img{
            width:50px;
            height:50px;
        }
    }
}

footer{
    display:none;
}

.small-scroll{
    width: 100%;
    height:50%;
    margin: 0px;
    // backgroundColor: "black"


    
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
}
.simplebar-track{
    background-color:transparent;
}

.simplebar-track:hover{
    background-color:#443d3d;
}

.simplebar-track.simplebar-vertical{
    width: 5px !important;
}

.simplebar-scrollbar{
    border-radius: 2px;
    height: 20px !important;
    min-height: 20px !important;
    background-color: white;
}

.simplebar-scrollbar:before {
    visibility: hidden;
}

}